.regvolbox
{
    background-color: rgba(136, 130, 130, 0.5);
    width: 45%;
    display: flex;
    border-radius: 20px;
    height:100%;
    text-align: center;
    box-shadow: 0 0 10px 2px #4262ff;
    padding: 1%;
    margin-left: 40%;
    justify-content: justify;
}

.formB
{
    justify-content: center;
}