.regvolbox
{
    background-color: rgba(136, 130, 130, 0.5);
    width: 45%;
    display: flex;
    border-radius: 20px;
    height:100%;
    text-align: center;
    box-shadow: 0 0 10px 2px #4262ff;
    padding: 1%;
    margin: 1% 41%;
    justify-content: justify;
}

.fieldsVol
{
    display: flex;
    justify-content: center;
}

label
{
    width: 30%;
    justify-content: left;
}

.headerVolR
{
    margin: 0%;
    color: white;
    font-weight: bold;
}

.inputVolR
{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.30rem 0.75rem;
    font-size: 1rem; 
    margin-bottom: 1%;
    width: 70%;
}

textarea
{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.25rem 0.75rem;
    font-size: 1rem; 
    margin-bottom: 1%;
    width: 70%;
}

.formVolB
{
    margin: 0% 10%;
}

#rVol:hover
{
    background-image: linear-gradient(to right,  #2e42a4, #90d7f1);
    color: navy;
}

#rVol
{
    background-image: linear-gradient(to right,  #4262ff, #90d7f1);
    color: white;
    margin-left: 0.5%;
    margin-bottom: 1%;
    margin-top: 4%;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
    width: 60%
}

.emailF
{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    width: 82%;
    justify-content: flex-start;
}