.mainDivUP
{
    background: whitesmoke;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}

.UP_box
{
    width: 40%;
    background: white;
    box-shadow: 0 0 8px 3px #4262ff;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin: 4% 30%;
    padding: 2%;
}

.inputUP
{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.30rem 0.75rem;
    font-size: 1rem; 
    margin: 1% 0%;
    width: 70%;
}

.labelUP
{
    color: black;
    width: 30%;
}

.fieldsUP
{
    display: flex;
}

.headerUP
{
    font-weight: bold;
    margin-top: 0%;
}