.homepagengo {

    background: whitesmoke;
    position: relative;
    top: 0;
    height: 1000vh;
    position: absolute;
    left: 0;
    width: 100%;
}

.mainheaderngo
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.mainheaderngo nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.navLink{
    text-decoration: none;
    color: #4262ff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0% 3%;
    font-weight: bolder;
}

.navLink:hover
{
    color: #2e42a4;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

h1
{
    color: black;
}