* {
    margin: 0;
    padding: 0;

}

#back {

    background-color: rgb(123, 255, 211)
}

#backuser {
    /* width: 100vw; */
    height: 100vh;
    background-color: rgb(123, 255, 211)
}

.addevents_box {

    width: 40%;
    background: #fff;
    border: 1px solid #dddfe2;

    box-shadow: 0 0 10px 2px rgb(0, 211, 141);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;

}


.addevents .fields>input {
    /* border-radius: 8px; */
    border: none;
    border-bottom: 2px solid #858585;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    /* width: 60%; */
    font-size: 1rem;

    /* margin-left: -90px; */
}

.addevents .fields>textarea {
    /* border-radius: 8px; */
    border: none;
    border-bottom: 2px solid #858585;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    /* width: 92%; */
    font-size: 1rem;

    /* margin-left: -90px; */
}