* {
    align-items: center;

}

.registerdonthing
{
    background: whitesmoke;
    position: relative;
    top: 0;
    height: 150vh;
    position: absolute;
    left: 0;
    width: 100%;
}

.regThingBox
{
    width: 35%;
    background: #fff;
    box-shadow: 0 0 8px 3px #4262ff;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin: 6% 33%;
    padding: 2%;
}

.fieldsT
{
    display: flex;
    justify-content: left;
}

.labelT
{
    color: black;
    width: 30%;
}

.inputT
{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    padding: 0.30rem 0.75rem;
    font-size: 1rem; 
    margin: 1% 0%;
    width: 70%;
}

.headerT
{
    font-weight: bold;
    margin-top: 0%;
}