.homepagedonor {
    background: whitesmoke;
    position: relative;
    top: 0;
    height: 1000vh;
    position: absolute;
    left: 0;
    width: 100%;
}

.mainheaderdon
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.mainheaderdon nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.navLink{
    text-decoration: none;
    color: #4262ff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0% 3%;
    font-weight: bolder;
}

.navLink:hover
{
    color: #2e42a4;
}

#dbtn:hover
{
    background-image: linear-gradient(to right,  #2e42a4, #90d7f1);
    color: navy;
}

#dbtn
{
    background-image: linear-gradient(to right,  #4262ff, #90d7f1);
    color: white;
    margin-left: 0.5%;
    margin-bottom: 1%;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    width: 15%;
    font-weight: bold;
}

.headingDon
{
    font-size: 30px;
    font-weight: 700;
    margin: 1% 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2240a4;
    padding: 1% 5%;
    text-align: center;
}