body
{
    color: white;
}

.App
{
    border-radius: 2%;
}

.card
{
    background-color: rgba(136, 130, 130, 0.8);
    border-radius: 2%;
    margin-top: 18%;
    margin-left: 27%;
    box-shadow: 0 0 10px 2px #4262ff;
}

 .left{
    margin: 3%;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.left H1{
    font-size: 30px;
    font-weight: 700;
    margin: 1% 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.left H2{
    font-size: 20px;
    font-weight: bold;
    margin: 2% 0;
}


.btn{
    background-image: linear-gradient(to right,  #4262ff, #90d7f1);
    color: white;
    margin-left: 0.5%;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
}

.btn:hover
{
    background-image: linear-gradient(to right,  #2e42a4, #90d7f1);
}