.mainheadervolnav
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 5px rgb(123, 255, 211);

}

.mainheadervolnav nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.navLink{
    text-decoration: none;
    color: #4262ff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0% 3%;
    font-weight: bolder;
}

.navLink:hover
{
    color: #2e42a4;
}
