.rightngo
{
    background-color: rgba(136, 130, 130, 0.5);
    width: 35%;
    display: flex;
    border-radius: 20px;
    height:100%;
    text-align: center;
    box-shadow: 0 0 10px 2px #4262ff;
    padding: 3%;
    margin-left: 47%;
    margin-top: 13%;
}

#ngoL:hover
{
    background-image: linear-gradient(to right,  #2e42a4, #90d7f1);
    color: navy;
}

#ngoL
{
    background-image: linear-gradient(to right,  #4262ff, #90d7f1);
    color: white;
    margin-left: 0.5%;
    margin-bottom: 2%;
    margin-top: 4%;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
    width: 60%
}
#reglinkngo {
    color: #006eff;
    cursor: pointer;
}

.fields
{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

input
{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.inputD
{
    display: flex;
    flex-direction: column;
}